
/* GLOBAL STYLING */


html, body{
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  height: 100%;
}

.container-fluid{
  margin: 0;
  padding: 0;
}


/* BRANDING & NAVBAR SECTION */

.navbar-brand img{
  height: 3.5rem;
}

.navbar-default{
  height: 5rem;
}

.navbar .nav li{
  margin: .875rem;
  letter-spacing: 0.03rem;
  font-weight: 400;
  display: inline-block;
}

.navbar .nav li a{
  color: #000;
}

.navbar .nav li a:hover{
  color: #fff;
  border-radius: 3px;
  background-color: #0000FF;
  transition: 700ms;
}


/* MISSION STATEMENT QUOTE */

.mission-statement{
  background-color: #FFF;
  margin-top: 5rem;
}

.since2003 h3{
  text-align: center;
  font-weight: 300;
}

.mission{
  padding: 1.5rem 0 0 0;
}

.mission h1{
  color: #0000FF;;
  text-align: center;
  font-size: 4rem;
  font-weight: 300;
}

.passion{
  max-width: 25rem;
  max-height: 25rem;
  /*background: rgba(0, 0, 0, .1)*/
}

.passion p{
  font-size: 1.3rem;
  color: black;
  font-style: italic;
  text-align: center;
  line-height: 2rem;
  font-family: 'Muli', sans-serif;
}

/* MAIN PHOTO SECTION*/

.main-photo{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  background-color: #FFF;
  padding: 3rem 0;
}

.main-photo img{
  max-width: 20rem;
}



/* SERVICES SECTION */

.vortech-services{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 3rem 0;
  background-color: #F8F8F8;
}

.vortech-services ul{
  padding-top: 1rem;
}

.vortech-services li{
  list-style: none;
  text-align: left;
  font-size: 0.875rem;
  line-height: 1rem;
}

.vortech-services img{
  width: 284px;
  height: 170px;
}

.service{
  padding: 1.5rem;
  border: 1px solid #71757a;
  margin-top: 1rem;
  box-shadow: 5px 5px 5px #000;
  background-color: #fff;
}

.service h3{
  text-align: center;
  font-weight: bold;
}

.service p{
  text-align: center;
  font-size: 0.875rem;
  max-width: 18rem;
  line-height: 1rem;
}


/* Locations Section */

.locations{
  background-color: #FFF;
  padding: 3rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.locations ul{
  list-style: none;
  line-height: 2rem;
  text-align: left;
  padding: 0;
}

.locations iframe{
  /*pointer-events: none;*/
  max-width: 100%;
}


/* FOOTER SECTION */

footer{
  background-color: #000;
  color: #FFF;
}


.footer{
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  flex-wrap: wrap;
  padding: 2rem 0;
}

.footer h5{
  display: inline-block;
}

.follow-us a{
  padding: 0 1rem;
}

.footer img{
  max-width: 2rem;
}

.footer i:hover{
  color: #0000FF;
  transition: 800ms;
}

i{
  color: #FFF;
}

/* CONTACT PAGE */

.contact-info{
  padding: 3rem 0 8rem;;
  text-align: center;
}

#footer{
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
  background-color: #000;
  color: #FFF;
  width: 100%;
}


/* About Us Page */

.about-us{
  padding-bottom: 2rem;
}

.about-us img{
  margin: 2.5rem 0 0 0 ;
  width: 18rem;
  height: 14rem;
}

.owners{
  padding: 1rem 0 1rem 0;
}

.about button{
  margin: 0 0 3rem 0;
}



/*@media only screen and (min-device-width: 992px) {

  .contact-info{
    margin-bottom: 5rem;
  }
}

@media only screen and (max-device-width: 775px) {

  .navbar ul{
    font-size: 0.55rem;
    text-align: center;
  }

  .padding ul{
    padding: 10rem 0;
  }
}*/

/* Media Queries */


/*.mission{
  padding: 7rem 0;
  }*/
}

@media only screen and (max-device-width: 768px){

    .navbar ul a{
      text-align: center;
    }

    .navbar-nav{
      margin: 15px;
    }

    .mission-statement{
      padding-top: 1rem;
    }
}
