html, body{
  font-size: 16px;
  font-family: 'Lato', sans-serif;
}

img{
  height: 3rem;
}

.navbar-default{
  height: 5rem;
}

.mission-statement{
  background-color: #0000FF;
  margin-top: 5rem;
  height: 10rem;
}

.mission{
  padding: 1.5rem 0;
}

h1{
  color: white;
  text-align: center;
}

p{
  font-size: 0.875rem;
  color: white;
  text-align: center;
}

.container-fluid{
  margin: 0;
  padding: 0;
}
