
/* GLOBAL STYLING */

html, body{
  font-size: 16px;
  font-family: 'Lato', sans-serif;
}

.container-fluid{
  margin: 0;
  padding: 0;
}


/* BRANDING & NAVBAR SECTION */

.navbar-brand img{
  height: 3.5rem;
}

.navbar-default{
  height: 5rem;
}

.navbar li{
  padding: .875rem 0.5rem;
  letter-spacing: 0.03rem;
}


ul li:hover{
  background-color: #fff;
  border-radius: 2px;
}



/* MISSION STATEMENT QUOTE */

.mission-statement{
  background-color: #0000FF;
  margin-top: 5rem;
  height: 10rem;
}

.mission{
  padding: 1.5rem 0;
}

h1{
  color: white;
  text-align: center;
}

p{
  font-size: 0.875rem;
  color: white;
  text-align: center;
}

/* MAIN PHOTO SECTION*/

.main-photo img{
  min-height: 20rem;
  min-width: 20rem;
}
